body{
background:#0f172a;
color:white;
font-family:'VT323', monospace;
text-align:center;
margin:0;
}

.menu{
width:90%;
max-width:1000px;

display:flex;
justify-content:space-around;

margin:30px auto;

background:rgba(0,0,0,0.7);

border-radius:25px;
border:2px solid #8B5CF6;

padding:15px;
}

.menu a{
text-decoration:none;
color:white;
font-size:28px;
font-family:'VT323', monospace;
padding:10px 25px;
border-radius:10px;
transition:0.3s;
}

.menu a:hover{
background:#8B5CF6;
transform:scale(1.1);
}
@media (max-width:600px){

.menu{
    flex-wrap: wrap;
    gap:10px;
}

.menu a{
    width:45%;
    font-size:22px;
}

}
.titulo{
font-size:40px;
margin-top:20px;
}

.descripcion{
font-size:22px;
margin-bottom:20px;
}

.contenedor{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin:30px;
}

.imagen{
width:400px;
border-radius:10px;
border:3px solid #22c55e;
}

.botones{
margin:30px;
}

button{
background:#22c55e;
border:none;
padding:15px 30px;
font-size:22px;
cursor:pointer;
border-radius:8px;
}

button:hover{
background:#16a34a;
}

.botonvolver{
display:block;
width:200px;
margin:30px auto;
padding:12px;
text-align:center;
background:#F08DED;
color: black;
font-family:'VT323', monospace;
font-size:22px;
border-radius:10px;
text-decoration:none;
transition:0.3s;

}

.botonvolver:hover{
background:#EDB4EB;
transform:scale(1.05);
box-shadow:0 0 10px #FAD7F8;

}
.evolucion{
position: fixed;
top:0;
left:0;
width:100%;
height:100%;
background: radial-gradient(circle, #ffffff, #00f0ff, #000);
display:none;
justify-content:center;
align-items:center;
z-index:9999;
animation: flash 1s infinite alternate;
}

@keyframes flash{
0%{opacity:0.7;}
100%{opacity:1;}
}

.contenidoEvo{
background:black;
padding:40px;
border:5px solid cyan;
border-radius:20px;
text-align:center;
color:white;
font-family: 'VT323', monospace;
box-shadow: 0 0 30px cyan;
animation: zoom 0.5s ease;
}

@keyframes zoom{
from{transform:scale(0.5);}
to{transform:scale(1);}
}

.evolucion{
position: fixed;
top:0;
left:0;
width:100%;
height:100%;
background: radial-gradient(circle, white, cyan, black);
display:none;
justify-content:center;
align-items:center;
z-index:9999;
}

.contenidoEvo{
background:black;
padding:40px;
border:4px solid cyan;
border-radius:20px;
text-align:center;
color:white;
font-family: 'VT323', monospace;
}

.contenidoEvo h1{
font-size:50px;
color:yellow;
}

.contenidoEvo p{
font-size:30px;
}

.contenidoEvo button{
font-size:25px;
padding:10px 30px;
background:cyan;
border:none;
cursor:pointer;
}